body{
    font-family: sans-serif;
}

header{
    text-align: center;
    color: white;
    background-color: red;
    padding: 20px;
}

#container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;  
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    font-size: 1em;
}

.card{
    background-color: rgb(238, 234, 234);
    border-radius: 4px;
    overflow: hidden;
}
.card-top{
    margin:0px;
    color: whitesmoke;
    background-color: blue;
    padding: 12px;
    
}
h1,h2,p{
    margin: 0px;
    font-weight: 400;
    padding:2px;
}
h1{
    font-size: 20px;
   
}
h2{
    font-size: 18px;
    
}
.card-details{
    margin: 12px;
    border-radius: 4px;
    background-color: white;

}
.email{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.card-details>p{
    padding:5px;
}


